@model CustomerClassLibrary.Customer

@{
    ViewBag.Title = "Addresses";
    Layout = null;
}

<div class="form-group">
    <div class="m-3">
        @Html.ValidationMessageFor(model => model.AddressesList, "", new { @class = "text-danger" })
       
        <div class="form-group d-flex">
            
            <h4>Addresses</h4>
            <div class="">
                <input type="submit" name="action" value="AddAddress" formaction=@Url.Action("AddAddress",new {id=Model.IdCustomer ,viewName=ViewBag.Type}) formmethod="post" class="btn btn-default btn-xs" />
            </div>
        </div>

        <div class="form-group">
            <table class="table">
                <tr>
                    <th>Address Line</th>
                    <th>Address Line2</th>
                    <th>AddressType</th>
                    <th>City</th>
                    <th>PostalCode</th>
                    <th>Country</th>
                    <th>State</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @for (int i = 0; i < Model.AddressesList.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.EditorFor(model => model.AddressesList[i].AddressLine)
                            @Html.ValidationMessageFor(model => model.AddressesList[i].AddressLine, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.AddressesList[i].AddressLine2)
                            @Html.ValidationMessageFor(model => model.AddressesList[i].AddressLine2, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.AddressesList[i].TypeAddress)
                            @Html.ValidationMessageFor(model => model.AddressesList[i].TypeAddress, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.AddressesList[i].City)
                            @Html.ValidationMessageFor(model => model.AddressesList[i].City, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.AddressesList[i].PostalCode)
                            @Html.ValidationMessageFor(model => model.AddressesList[i].PostalCode, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.AddressesList[i].Country)
                            @Html.ValidationMessageFor(model => model.AddressesList[i].Country, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.AddressesList[i].State)
                            @Html.ValidationMessageFor(model => model.AddressesList[i].State, "", new { @class = "text-danger" })
                        </td>
                        <td class="hidden">
                            @Html.EditorFor(model => model.AddressesList[i].IdAddress, new { @class = "text-danger" })

                        </td>
                        <td class ="hidden">
                            @Html.EditorFor(model => model.AddressesList[i].IdCustomer, new { @class = "text-danger" })

                            </td>
                            <td>

                                    <input type="submit" name="action" value="Delete"  formaction=@Url.Action("DeleteAddress",new {id=Model.IdCustomer ,viewName=ViewBag.Type,idDeleteAddress= Model.AddressesList[i].IdAddress}) formmethod="post" class="btn btn-default" />

                            </td>
</tr>
                }
            </table>
        </div>

    </div>

</div>